GIN_MODE=release
APP_ENV=production
SERVER_PORT=8080
API_KEY=

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=shopping-cart
DB_USER=postgres
DB_PASSWORD=password
DB_SSLMODE=disable

# Redis
REDIS_ADDR=localhost:6379
REDIS_USER=
REDIS_PASSWORD=
REDIS_DB=0

# Pagination
LIMIT_ITEM_ON_PER_PAGE=15

# JWT
JWT_SECRET=W!6{Um[A%E+gY!WQKLw-rerMfMUeKiU8Hdb$cEa_4UK"
# only 32 characters
JWT_ENCRYPT_KEY=ad46c4bb06f0c38c1fe50da705577e28

MAIL_PROVIDER_TYPE=mailtrap
MAILTRAP_API_KEY=
MAILTRAP_URL=
MAILTRAP_MAIL_SENDER=
MAILTRAP_NAME_SENDER=

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
